@font-face {
    font-family: 'Lilita One';
    src: url(/Lilita_One/LilitaOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(#6A61CD 100%,#867BFF 62%);
    font-family: 'Lilita One';
    font-weight: normal;
    min-height: 100vh;
}

header {
    font-family: 'Lilita One';
    font-weight: normal;
    font-weight: 400;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    width: 723px;
    margin: 0px auto;
    text-align: center;
    color: white;
    position: relative;
    top: 50px;
    border: 1px solid red;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}    
    

.btn1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 45,72px;
    color: #00D254;
    background-color: #FFFFFF;
    width: 387px;
    height: 73px;
    border-radius: 16px;
    /*padding: 15px 32px;*/
    margin: 13px 138px;
    cursor: pointer;
}    

.btn2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 45,72px;
    color: #76699C;
    background-color: #FFFFFF;
    width: 387px;
    height: 73px;
    border-radius: 16px;
    /*padding: 15px 32px;*/
    margin: 13px 138px;
    cursor: pointer;
}

.btn3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 45,72px;
    color: #76699C;
    background-color: #FFFFFF;
    width: 387px;
    height: 73px;
    border-radius: 16px;
    /*padding: 15px 32px;*/
    margin: 13px 138px;
    cursor: pointer;
}

.btn4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 45,72px;
    color: #76699C;
    background-color: #FFFFFF;
    width: 387px;
    height: 73px;
    border-radius: 16px;
    /*padding: 15px 32px;*/
    margin: 13px 138px;
    cursor: pointer;
}